<!--email_off-->
<!DOCTYPE html>
<html lang="en" ng-app="mewApp">
<head>
<meta charset="utf-8">
<link rel="manifest" href="images/fav/manifest.json">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>MyEgemWallet</title>
<meta property="og:title" content="mywallet.egem.io: Your Key to Egem">
<meta property="og:site_name" content="mywallet.egem.io: Your Key to Egem">
<meta name="twitter:title" content="mywallet.egem.io: Your Key to Egem">
<meta name="apple-mobile-web-app-title" content="mywallet.egem.io: Your Key to Egem">
<link href="https://https://wallet.egem.io" rel="canonical">
<meta content="https://wallet.egem.io" property="og:url">
<meta content="https://wallet.egem.io" name="twitter:url">
<link rel="stylesheet" href="css/etherwallet-master.min.css">
<script type="text/javascript" src="js/etherwallet-static.min.js"></script>
<script type="text/javascript" src="js/etherwallet-master.js"></script>
<meta name="description" content="MyEgemWallet is a free, open-source, client-side interface for generating Egem wallets &amp; interacting with the blockchain easily &amp; securely. Double-check the URL ( .io ) before unlocking your wallet.">
<meta property="og:description"  content="Free, open-source, client-side Ethereum wallet. Enabling you to interact with the blockchain easily & securely.">
<meta name="twitter:description" content="Free, open-source, client-side Ethereum wallet. Enabling you to interact with the blockchain easily & securely.">
<meta name="robots" content="index,follow">
<meta name="googlebot" content="index,follow">
<meta name="google-site-verification" content="IpChQ00NYUQuNs_7Xs6xlnSdzalOlTUYbBsr8f7OpvM" />
<link href="images/fav/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
<link href="images/fav/favicon-32x32.png" rel="icon" type="image/png" sizes="32x32">
<link href="images/fav/favicon-16x16.png" rel="icon" type="image/png" sizes="16x16">
<link href="images/fav/manifest.json" rel="manifest">
<link href="images/fav/safari-pinned-tab.svg" rel="mask-icon" color="#2f99b0">
<link href="images/fav/favicon.ico" rel="shortcut icon">
<meta name="apple-mobile-web-app-title" content="MyEgemWallet &middot; Your Key to Egem">
<meta name="application-name" content="MyEgemWallet">
<meta name="msapplication-config" content="images/fav/browserconfig.xml">
<meta name="theme-color" content="#1d6986">
<meta name="apple-mobile-web-app-status-bar-style" content="#1d6986">
<meta property="og:url" content="https://mywallet.egem.io" />
<meta property="og:title" content="mywallet.egem.io  &middot; Your Key to Egem" />
<meta property="og:type" content="website">
<meta property="og:image" content="/images/myetherwallet-logo-banner.png" />
<meta property="og:image" content="/images/myetherwallet-logo.png" />
<meta property="og:image" content="/images/myetherwallet-logo-square.png" />
<meta property="og:image" content="/images/myetherwallet-banner-fun.jpg" />
<meta property="og:description" content="MyEgemWallet is a free, open-source, client-side interface for generating Egem wallets &amp; interacting with the blockchain easily &amp; securely. Double-check the URL ( .io ) before unlocking your wallet." />
<meta name="twitter:image" content="/images/myetherwallet-logo-twitter.png">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@EgemOfficial">
<meta name="twitter:creator" content="@EgemOfficial">
</head>
<body>

<header class="{{curNode.name}} {{curNode.service}} {{curNode.service}} nav-index-{{gService.currentTab}}" aria-label="header" ng-controller='tabsCtrl' >


  <div class="small announcement annoucement-danger">
    <div class="container">Always check the URL and look for MyEgemWallet SSL Certificate up there. Look for https://wallet.egem.io/. </div>
  </div>


<section class="bg-gradient header-branding">
  <section class="container">
    
      <a class="brand" href="/" aria-label="Go to homepage">
        <img src="images/logo-myetherwallet.png"   height="64px" width="245px" alt="MyEtherWallet" />
        <p class="small visible-xs">3.21.22</p>
      </a>
    
    
    <div class="tagline">

    <span class="hidden-xs">3.21.22</span>

    <span class="dropdown dropdown-lang" ng-cloak>
      <a tabindex="0"  aria-haspopup="true" aria-expanded="false" aria-label="change language. current language {{curLang}}" class="dropdown-toggle" ng-click="dropdown = !dropdown">{{curLang}}<i class="caret"></i></a>
      <ul class="dropdown-menu" ng-show="dropdown">
        <li><a ng-class="{true:'active'}[curLang=='Català']"          ng-click="changeLanguage('ca','Català'         )"> Català          </a></li>
        <li><a ng-class="{true:'active'}[curLang=='Deutsch']"         ng-click="changeLanguage('de','Deutsch'        )"> Deutsch         </a></li>
        <li><a ng-class="{true:'active'}[curLang=='Ελληνικά']"        ng-click="changeLanguage('el','Ελληνικά'       )"> Ελληνικά        </a></li>
        <li><a ng-class="{true:'active'}[curLang=='English']"         ng-click="changeLanguage('en','English'        )"> English         </a></li>
        <li><a ng-class="{true:'active'}[curLang=='Español']"         ng-click="changeLanguage('es','Español'        )"> Español         </a></li>
        <li><a ng-class="{true:'active'}[curLang=='Farsi']"           ng-click="changeLanguage('fa','Farsi'          )"> Farsi           </a></li>
        <li><a ng-class="{true:'active'}[curLang=='Suomi']"           ng-click="changeLanguage('fi','Suomi'          )"> Suomi           </a></li>
        <li><a ng-class="{true:'active'}[curLang=='Français']"        ng-click="changeLanguage('fr','Français'       )"> Français        </a></li>
        <li><a ng-class="{true:'active'}[curLang=='Magyar']"          ng-click="changeLanguage('hu','Magyar'         )"> Magyar          </a></li>
        <li><a ng-class="{true:'active'}[curLang=='Haitian Creole']"  ng-click="changeLanguage('ht','Haitian Creole' )"> Haitian Creole  </a></li>
        <li><a ng-class="{true:'active'}[curLang=='Indonesian']"      ng-click="changeLanguage('id','Indonesian'     )"> Bahasa Indonesia</a></li>
        <li><a ng-class="{true:'active'}[curLang=='Italiano']"        ng-click="changeLanguage('it','Italiano'       )"> Italiano        </a></li>
        <li><a ng-class="{true:'active'}[curLang=='日本語']"           ng-click="changeLanguage('ja','日本語'          )"> 日本語          </a></li>
        <li><a ng-class="{true:'active'}[curLang=='한국어']"            ng-click="changeLanguage('ko','한국어'          )"> 한국어           </a></li>
        <li><a ng-class="{true:'active'}[curLang=='Nederlands']"      ng-click="changeLanguage('nl','Nederlands'     )"> Nederlands      </a></li>
        <li><a ng-class="{true:'active'}[curLang=='Norsk Bokmål']"    ng-click="changeLanguage('no','Norsk Bokmål'   )"> Norsk Bokmål    </a></li>
        <li><a ng-class="{true:'active'}[curLang=='Polski']"          ng-click="changeLanguage('pl','Polski'         )"> Polski          </a></li>
        <li><a ng-class="{true:'active'}[curLang=='Português']"       ng-click="changeLanguage('pt','Português'      )"> Português       </a></li>
        <li><a ng-class="{true:'active'}[curLang=='Русский']"         ng-click="changeLanguage('ru','Русский'        )"> Русский         </a></li>
        <li><a ng-class="{true:'active'}[curLang=='ภาษาไทย']"         ng-click="changeLanguage('th','ภาษาไทย'        )"> ภาษาไทย         </a></li>
        <li><a ng-class="{true:'active'}[curLang=='Türkçe']"          ng-click="changeLanguage('tr','Türkçe'         )"> Türkçe          </a></li>
        <li><a ng-class="{true:'active'}[curLang=='Tiếng Việt']"      ng-click="changeLanguage('vi','Tiếng Việt'     )"> Tiếng Việt      </a></li>
        <li><a ng-class="{true:'active'}[curLang=='简体中文']"         ng-click="changeLanguage('zhcn','简体中文'      )"> 简体中文         </a></li>
        <li><a ng-class="{true:'active'}[curLang=='繁體中文']"         ng-click="changeLanguage('zhtw','繁體中文'      )"> 繁體中文         </a></li>
        <li role="separator" class="divider"></li>
        <li><a data-toggle="modal" data-target="#disclaimerModal" translate="FOOTER_4"> Disclaimer </a></li>
      </ul>
    </span>

    <span class="dropdown dropdown-gas" ng-cloak>
      <a tabindex="0" aria-haspopup="true" aria-label="adjust gas price" class="dropdown-toggle  btn btn-white" ng-click="dropdownGasPrice = !dropdownGasPrice">
        <span translate="OFFLINE_Step2_Label_3">Gas Price</span>:
          {{gas.value}} Gwei
          <i class="caret"></i>
      </a>
      <ul class="dropdown-menu" ng-show="dropdownGasPrice">
        <div class="header--gas">
          <span translate="OFFLINE_Step2_Label_3">Gas Price</span>:
          {{gas.value}} Gwei
          <input type="range" ng-model="gas.value" min="{{gas.min}}" max="{{gas.max}}" step="{{gas.step}}" ng-change="gasChanged()"/>
          <p class="small col-xs-4 text-left"> <!--translate="GAS_Price_1"-->
            Really, really slow
          </p>
          <p class="small col-xs-4 text-center"> <!--translate="GAS_Price_2"-->
            Maybe Fast?
          </p>
          <p class="small col-xs-4 text-right"> <!--translate="GAS_Price_3"-->
            Fast
          </p>
          <br />
          <p class="small" style="white-space:normal;font-weight:300;margin: 2rem 0 0;" translate="GAS_PRICE_Desc"></p>
          <a class="small"
             translate="x_ReadMore"
             href="https://myetherwallet.github.io/knowledge-base/gas/what-is-gas-ethereum.html"
             target="_blank"
             rel="noopener noreferrer"></a>
        </div>
      </ul>
    </span>

    <!-- Warning: The separators you see on the frontend are in styles/etherwallet-custom.less. If you add / change a node, you have to adjust these. Ping tayvano if you're not a CSS wizard -->

    <span class="dropdown dropdown-node" ng-cloak>
      <a tabindex="0"
         aria-haspopup="true"
         aria-label="change node. current node {{curNode.name}} node by {{curNode.service}}"
         class="dropdown-toggle  btn btn-white"
         ng-click="dropdownNode = !dropdownNode">
           <span translate="X_Network">Network:</span>
           {{curNode.name}}
           <small>({{curNode.service}})</small>
           <i class="caret"></i>
      </a>
      <ul class="dropdown-menu" ng-show="dropdownNode">
        <li ng-repeat="(key, value) in nodeList">
          <a ng-class="{true:'active'}[curNode == key]" ng-click="changeNode(key)">
            {{value.name}}
            <small> ({{value.service}}) </small>
            <img ng-show="value.service=='Custom'" src="images/icon-remove.svg" class="node-remove" title="Remove Custom Node" ng-click="removeNodeFromLocal(value.name)"/>
          </a>
        </li>
        <li>
          <a ng-click="customNodeModal.open(); dropdownNode = !dropdownNode;" translate="X_Network_Custom">
            Add Custom Network / Node
          </a>
        </li>
      </ul>
    </span>

    </div>
  </section>
  <p class="dropdown-gas__msg"
     ng-show="gasPriceMsg"
     ng-hide="ajaxReq.type!='ETH'">
    The network is really full right now. Check
    <a href="https://ethgasstation.info/"
       target="_blank" rel="noopener noreferrer">Eth Gas Station</a>
    for gas price to use.
  </p>
</section>

<nav role="navigation" aria-label="main navigation" class="container nav-container overflowing">
  <a aria-hidden="true" ng-show="showLeftArrow" class="nav-arrow-left" ng-click="scrollLeft(100);" ng-mouseover="scrollHoverIn(true,2);" ng-mouseleave="scrollHoverOut()">&#171;</a>
  <div class="nav-scroll">
    <ul class="nav-inner">
      
      <li ng-repeat="tab in tabNames track by $index" \
          class="nav-item {{tab.name}}" \
          ng-class="{active: $index==gService.currentTab}"
          ng-show="tab.mew"
          ng-click="tabClick($index)">
            <a tabindex="0" aria-label="nav item: {{tab.name | translate}}" translate="{{tab.name}}"></a>
      </li>
      
      
      <li class="nav-item help">
        <a href="https://myetherwallet.github.io/knowledge-base/" target="_blank" rel="noopener noreferrer">
          <span translate="NAV_Help">
            Help
          </span>
        </a>
      </li>
    </ul>
  </div>
  <a aria-hidden="true"
     ng-show="showRightArrow"
     class="nav-arrow-right"
     ng-click="scrollRight(100);"
     ng-mouseover="scrollHoverIn(false,2);"
     ng-mouseleave="scrollHoverOut()">&#187;</a>
</nav>

 <article class="modal fade" id="customNodeModal" tabindex="-1">
  <section class="modal-dialog">
    <section class="modal-content">

      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close Dialog">&times;</button>

        <h2 class="modal-title text-info" translate="NODE_Title"> Set Up Your Custom Node </h2>

        <p class="small"><a href="https://myetherwallet.github.io/knowledge-base/networks/run-your-own-node-with-myetherwallet.html" target="_blank" rel="noopener noreferrer"> Instructions can be found here </a></p>

        <div ng-show="browserProtocol=='https:'" class="alert alert-danger small" translate="NODE_Warning">
          Your node must be HTTPS in order to connect to it via MyEtherWallet.com. You can [download the MyEtherWallet repo & run it locally](https://github.com/kvhnuke/etherwallet/releases/latest) to connect to your local node. Or, get free SSL certificate via [LetsEncrypt](https://letsencrypt.org/)</a>.
        </div>

        <section class="row">
          <div class="clearfix col-xs-12">
            <label translate="NODE_Name">Node Name</label>
            <input class="form-control"
                   type="text"
                   placeholder="My ETH Node"
                   ng-model="customNode.name"
                   ng-class="Validator.isAlphaNumericSpace(customNode.name) ? 'is-valid' : 'is-invalid'">
          </div>

          <div class="clearfix col-xs-9">
            <label>URL</label>
            <input class="form-control" type="text" placeholder="http://127.0.0.1" ng-model="customNode.url" ng-class="checkNodeUrl(customNode.url) ? 'is-valid' : 'is-invalid'">
          </div>

          <div class="clearfix col-xs-3">
            <label class="NODE_Port">Port</label>
            <input class="form-control" type="text" placeholder="8545" ng-model="customNode.port" ng-class="Validator.isPositiveNumber(customNode.port) || customNode.port=='' ? 'is-valid' : 'is-invalid'">
          </div>

          <div class="clearfix col-xs-12">
            <label><input type="checkbox" ng-model="customNode.httpBasicAuth" ng-true-value="{user:'',password:''}" ng-false-value="null" value="false"> HTTP Basic access authentication </label>
          </div>

          <div class="clearfix col-xs-6" ng-show="customNode.httpBasicAuth">
            <label>User</label>
            <input class="form-control" type="text" ng-model="customNode.httpBasicAuth.user" ng-class="customNode.httpBasicAuth &amp;&amp; customNode.httpBasicAuth.user.length > 0 ? 'is-valid' : 'is-invalid'">
          </div>

          <div class="clearfix col-xs-6" ng-show="customNode.httpBasicAuth">
            <label>Password</label>
            <input class="form-control" type="password" ng-model="customNode.httpBasicAuth.password" ng-class="customNode.httpBasicAuth &amp;&amp; customNode.httpBasicAuth.password.length > 0 ? 'is-valid' : 'is-invalid'">
          </div>

          <div class="clearfix col-xs-12 radio">
            <label><input name="options" type="radio" ng-model="customNode.options" value="eth"> ETH </label>
            <label><input name="options" type="radio" ng-model="customNode.options" value="etc"> ETC </label>
            <label><input name="options" type="radio" ng-model="customNode.options" value="rop"> Ropsten </label>
            <label><input name="options" type="radio" ng-model="customNode.options" value="kov"> Kovan </label>
            <label><input name="options" type="radio" ng-model="customNode.options" value="rin"> Rinkeby </label>
            <label><input name="options" type="radio" ng-model="customNode.options" value="cus"> Custom </label>
            <label ng-show="customNode.options == 'cus'"><input type="checkbox" ng-model="customNode.eip155" value="true"> Supports EIP-155 </label>
          </div>

          <div class="clearfix col-sm-6 col-sm-offset-6" ng-show="customNode.eip155">
            <label>Chain ID</label>
            <input class="form-control" type="text" placeholder="" ng-model="customNode.chainId" ng-class="Validator.isPositiveNumber(customNode.chainId) ? 'is-valid' : 'is-invalid'">
          </div>
        </section>

      </div>

      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" translate="x_Cancel">
          Cancel
        </button>
        <button class="btn btn-primary" ng-click="saveCustomNode()" translate="NODE_CTA">
          Save &amp; Use Custom Node
        </button>
      </div>


    </section>
  </section>
</article>
 


</header>


<section class="container" style="min-height: 50%" ng-controller='viewCtrl'>

  <div class="tab-content" >

    <div class="" ng-controller="helpersCtrl">

  <h1>
    Convert Egem Units (e.g. Egem <-> Wei)
  </h1>

  <h2 class="p">
    Egem Wei Converter
  </h2>

  <section class="mono">

    <div class="input-group form-group">
      <input class="form-control" type="text" ng-model="units.wei" ng-change="convertUnit('wei')" />
      <div class="input-group-btn">
        <a class="btn btn-default" style="min-width: 170px;">
          wei
        </a>
      </div>
    </div>

    <div class="input-group form-group">
      <input class="form-control" type="text" ng-model="units.kwei" ng-change="convertUnit('kwei')" />
      <div class="input-group-btn">
        <a class="btn btn-default" style="min-width: 170px;">
          kwei
        </a>
      </div>
    </div>

    <div class="input-group form-group">
      <input class="form-control" type="text" ng-model="units.mwei" ng-change="convertUnit('mwei')" />
      <div class="input-group-btn">
        <a class="btn btn-default" style="min-width: 170px;">
          mwei
        </a>
      </div>
    </div>

    <div class="input-group form-group">
      <input class="form-control" type="text" ng-model="units.gwei" ng-change="convertUnit('gwei')" />
      <div class="input-group-btn">
        <a class="btn btn-default" style="min-width: 170px;">
          gwei <small>(shannon)
        </small>
      </a>

      </div>

    </div>
    <div class="input-group form-group">
      <input class="form-control" type="text" ng-model="units.szabo" ng-change="convertUnit('szabo')" />
      <div class="input-group-btn">
        <a class="btn btn-default" style="min-width: 170px;">
          szabo
        </a>
      </div>
    </div>

    <div class="input-group form-group">
      <input class="form-control" type="text" ng-model="units.finney" ng-change="convertUnit('finney')" />
      <div class="input-group-btn">
        <a class="btn btn-default" style="min-width: 170px;">
          finney
        </a>
      </div>
    </div>

    <div class="input-group form-group">
      <input class="form-control" type="text" ng-model="units.ether" ng-change="convertUnit('ether')" />
      <div class="input-group-btn">
        <a class="btn btn-primary" style="min-width: 170px;">
          ether
        </a>
      </div>
    </div>

    <div class="input-group form-group">
      <input class="form-control" type="text" ng-model="units.kether" ng-change="convertUnit('kether')" />
      <div class="input-group-btn">
        <a class="btn btn-default" style="min-width: 170px;">
          kether
        </a>
      </div>
    </div>

    <div class="input-group form-group">
      <input class="form-control" type="text" ng-model="units.mether" ng-change="convertUnit('mether')" />
      <div class="input-group-btn">
        <a class="btn btn-default" style="min-width: 170px;">
          mether
        </a>
      </div>
    </div>

    <div class="input-group form-group">
      <input class="form-control" type="text" ng-model="units.gether" ng-change="convertUnit('gether')" />
      <div class="input-group-btn">
        <a class="btn btn-default" style="min-width: 170px;">
          gether
        </a>
      </div>
    </div>

    <div class="input-group form-group">
      <input class="form-control" type="text" ng-model="units.tether" ng-change="convertUnit('tether')" />
      <div class="input-group-btn">
        <a class="btn btn-default" style="min-width: 170px;"> tether
        </a>
      </div>
    </div>

  </section>






  <br /><br /><br />






  <h1>
    ENS Debugger & Data Grabber
  </h1>
  <h2 class="p">
    Ethereum Name Service Data String Generator
  </h2>
  <p class="text-danger">
    This is meant to be a helpful tool for debugging and checking and generating manual reveals when necessary. Use at your own risk. There is no validation on these fields.
  </p>

  <section class="row">
    <div class="form-group col-sm-12">
      <label>
        Address you Bid From
      </label>
      <input class="form-control" type="text" ng-model="ensAddress" ng-change="allTheThings()" />
    </div>
  </section>

  <section class="row">
    <div class="form-group col-sm-6">
      <label>
        ENS Name you Bid On (no '.eth' at the end!)
      </label>
      <input class="form-control" type="text" ng-model="ensLabel" ng-change="toEnsLabelHash()" />
    </div>
    <div class="form-group col-sm-6">
      <label>
        Hashed ENS Name (Label Hash)
      </label>
      <input class="form-control" type="text" ng-model="ensLabelHash" />
    </div>
  </section>

  <section class="row">
    <div class="form-group col-sm-6">
      <label>
        Amount you Bid (ETH)
      </label>
      <input class="form-control" type="text" ng-model="bidEth" ng-change="toBidWei()" />
    </div>
    <div class="form-group col-sm-6">
      <label>
        Amount you Bid (WEI)
      </label>
      <input class="form-control" type="text" ng-model="bidWei" ng-change="toBidEth()" />
    </div>
  </section>

  <section class="row">
    <div class="form-group col-sm-6">
      <label>
        Your Secret
      </label>
      <input class="form-control" type="text" ng-model="ensSecret" ng-change="toEnsSecretHash()" />
    </div>
    <div class="form-group col-sm-6">
      <label>
        Your Secret (Hashed)
      </label>
      <input class="form-control" type="text" ng-model="ensSecretHash"/>
    </div>
  </section>

  <section class="row">
    <div class="form-group col-xs-12">
      <label>
        Start Auction Data
      </label>
      <input class="form-control" type="text" ng-model="startAuctionData" readonly />
      <p>
        To:
        <code>0x6090a6e47849629b7245dfa1ca21d94cd15878ef</code>
        &nbsp;&middot;&nbsp;
        Amount:
        <code>0</code>
        &nbsp;&middot;&nbsp;
        Gas Limit:
        <code>200000</code>
        &nbsp;&middot;&nbsp;
        Data:
        <code>[ABOVE]</code>
      </p>
    </div>
  </section>

  <section class="row">
    <div class="form-group col-xs-12">
      <label>
        Start Auction And Bid Data
      </label>
      <input class="form-control" type="text" ng-model="startAndBidAuctionData" readonly />
      <p>
        To:
        <code>0x6090a6e47849629b7245dfa1ca21d94cd15878ef</code>
        &nbsp;&middot;&nbsp;
        Amount:
        <code>0</code>
        &nbsp;&middot;&nbsp;
        Gas Limit:
        <code>200000</code>
        &nbsp;&middot;&nbsp;
        Data:
        <code>[ABOVE]</code>
      </p>
    </div>
  </section>

  <section class="row">
    <div class="form-group col-xs-12">
      <label>
        New Bid Data
        <small>If your reveals aren't working, this is the string that needs to match your bid data on Etherscan)</small>
    </label>
      <input class="form-control" type="text" ng-model="shaBid" readonly />
      <p>
        To: <code>0x6090a6e47849629b7245dfa1ca21d94cd15878ef</code>
        &nbsp;&middot;&nbsp;
        Amount: <code>[A NUMBER >= BID AMOUNT]</code>
        &nbsp;&middot;&nbsp;
        Gas Limit: <code>500000</code>
        &nbsp;&middot;&nbsp;
        Data: <code>[ABOVE]</code>
      </p>
    </div>
  </section>

  <section class="row">
    <div class="form-group col-xs-12">
      <label>
        Reveal Data <small> This is for manually revealing if you need to do so.
      </small>
    </label>
      <input class="form-control" type="text" ng-model="revealBidData" readonly />
      <p>
        To: <code>0x6090a6e47849629b7245dfa1ca21d94cd15878ef</code>
        &nbsp;&middot;&nbsp;
        Amount: <code>0</code>
        &nbsp;&middot;&nbsp;
        Gas Limit: <code>200000</code>
        &nbsp;&middot;&nbsp;
        Data: <code>[ABOVE]</code>
      </p>
    </div>
  </section>

  <section class="row">
    <div class="form-group col-xs-12">
      <label>
        Finalize Auction Data
      </label>
      <input class="form-control" type="text" ng-model="finalizeAuctionData" readonly />
      <p>
        To: <code>0x6090a6e47849629b7245dfa1ca21d94cd15878ef</code>
        &nbsp;&middot;&nbsp;
        Amount: <code>0</code>
        &nbsp;&middot;&nbsp;
        Gas Limit: <code>200000</code>
        &nbsp;&middot;&nbsp;
        Data: <code>[ABOVE]</code>
      </p>
    </div>
  </section>


  <br /><br /><br />


  <h1>
    Convert Decimal to Hexadecimal and Hex to Decimal
  </h1>
  <div class="form-group">
    <label>
      Decimal
    </label>
    <input class="form-control" type="text" ng-model="decimalNumber" ng-change="decimalToHex()" />
  </div>

  <div class="form-group">
    <label>
      Hexadecimal
    </label>
    <input class="form-control" type="text" ng-model="hexNumber" ng-change="hexToDecimal()" />
  </div>

  <div class="form-group">
    <label>
      Hexadecimal - Padded Left w/ 64 characters
    </label>
    <input class="form-control" type="text" ng-model="hexPaddedLeft" />
  </div>

  <br /><br /><br />

  <h1>
    "SHA3" (Keccak-256) It!
    <small>
      <a href="https://ethereum.stackexchange.com/questions/550/which-cryptographic-hash-function-does-ethereum-use"
         target="_blank"
         rel="noopener noreferrer">
          yooo... sha3 !== Keccak-256?!
      </a>
    </small>
  </h1>

  <div class="form-group">
    <label>
      Input
    </label>
    <input class="form-control" type="text" ng-model="inputText" ng-change="toSHA3()" />
  </div>

  <div class="form-group">
    <label>
      Output
    </label>
    <input class="form-control" type="text" ng-model="outputText" readonly />
  </div>


  <br /><br /><br />


  <h1> Egem Unit Reference Guide
  </h1>
  <table class="table table-striped mono">
    <tr>
      <td>
        <strong>
          wei
        </strong>
      </td>
      <td>
        <small></small>
      </td>
      <td>
        1
      </td>
      <td>
        1
      </td>
      <td>
      </td>
    </tr>

    <tr>
      <td>
        <strong>
          kwei
        </strong>
      </td>
      <td>
        <small>
          ada, femtoether
        </small>
      </td>
      <td>
        1000
      </td>
      <td>
        1,000
      </td>
      <td>
        10<sup>3</sup>
      </td>
    </tr>

    <tr>
      <td>
        <strong>
          mwei
        </strong>
      </td>
      <td>
        <small>
          babbage, picoether
        </small>
      </td>
      <td>
        1000000
      </td>
      <td>
        1,000,000
      </td>
      <td>
        10<sup>6</sup>
      </td>
    </tr>


    <tr>
      <td>
        <strong>
          gwei
        </strong>
      </td>
      <td>
        <small>
          shannon, nanoether, nano
        </small>
      </td>
      <td>
        1000000000
      </td>
      <td>
        1,000,000,000
      </td>
      <td>
        10<sup>9</sup>
      </td>
    </tr>

    <tr>
      <td>
        <strong>szabo</strong>
      </td>
      <td>
        <small>
          microether, micro
        </small>
      </td>
      <td>
        1000000000000
      </td>
      <td>
        1,000,000,000,000
      </td>
      <td>
        10<sup>12</sup>
    </td>
    </tr>

    <tr>
      <td>
        <strong>finney</strong>
      </td>
      <td>
        <small>
          milliether, milli
        </small>
      </td>
      <td>
        1000000000000000
      </td>
      <td>
        1,000,000,000,000,000
      </td>
      <td>
        10<sup>15</sup>
    </td>
    </tr>

    <tr>
      <td>
        <strong>ether</strong>
      </td>
      <td>
        <small></small>
      </td>
      <td>
        1000000000000000000
      </td>
      <td>
        1,000,000,000,000,000,000
      </td>
      <td>
        10<sup>18</sup>
    </td>
    </tr>

    <tr>
      <td>
        <strong>kether</strong>
      </td>
      <td>
        <small>
          grand, einstein
        </small>
      </td>
      <td>
        1000000000000000000000
      </td>
      <td>
        1,000,000,000,000,000,000,000
      </td>
      <td>
        10<sup>21</sup>
      </td>
    </tr>

    <tr>
      <td>
        <strong>mether</strong>
      </td>
      <td>
        <small></small>
      </td>
      <td>
        1000000000000000000000000
      </td>
      <td>
        1,000,000,000,000,000,000,000,000
      </td>
      <td>
        10<sup>24</sup>
    </td>
    </tr>

    <tr>
      <td>
        <strong>gether</strong>
      </td>
      <td>
        <small></small>
      </td>
      <td>
        1000000000000000000000000000
      </td>
      <td>
        1,000,000,000,000,000,000,000,000,000
      </td>
      <td>
        10<sup>27</sup>
    </td>
    </tr>

    <tr>
      <td>
        <strong>tether</strong>
      </td>
      <td>
        <small></small>
      </td>
      <td>
        1000000000000000000000000000000
      </td>
      <td>
        1000,000,000,000,000,000,000,000,000,000
      </td>
      <td>
        10<sup>30</sup>
    </td>

    </tr>
  </table>
  </p>


  <br /><br /><br />


  <h1>
    Mistyped Private Key
  </h1>

  <div class="form-group">
    <label>
      Private Key that isn't unlocking correct address
    </label>
    <input class="form-control" type="text" ng-model="mistypedPK"  />
  </div>

  <div class="form-group">
    <label>
      Address You Sent To
    </label>
    <input class="form-control" type="text" ng-model="mistypedAddr" />
  </div>

  <div class="form-group">
    <a class="btn btn-primary" ng-click="findMyPrivateKey()"> Start the Search!
    </a>
  </div>

  <div class="form-group">
    <label>
      Actual Private Key
    </label>
    <input class="form-control" type="text" ng-model="actualPK" readonly />
  </div>

  <div class="form-group">
    <ul>
      <li class="text-danger">
        Consider yourself very, very lucky.
      </li>
      <li>
        Now you need to create a new secure wallet and move all funds to it.
      </li>
      <li>
        In order to prevent the same thing from happening, <strong> please make sure your address you are sending to matches the address on your paper wallet
      </strong>
    </li>
      <li>
        <a href="https://myetherwallet.github.io/knowledge-base/getting-started/creating-a-new-wallet-on-myetherwallet.html" target="_blank" rel="noopener noreferrer">
          Read this guide for more information.
        </a>
      </li>
      <li>
        <a href="https://myetherwallet.github.io/knowledge-base/getting-started/protecting-yourself-and-your-funds.html" target="_blank" rel="noopener noreferrer">
          Learn how to protect yourself and your funds.
        </a>
      </li>
    </ul>

  </div>


</div>



  </div>

  <div data-ng-repeat="alert in notifier.alerts">
  <div class="alert popup alert-{{alert.type}} animated-show-hide"
       style="bottom: {{85*$index}}px; z-index: {{999+$index}};">
    <div class="container">
      <div class='alert-message' ng-bind-html="alert.message"></div>
    </div>
    <i class="icon-close" ng-click="alert.close()"></i>
  </div>
</div>


</section>

<section class="pre-footer">
  <div class="container">
    <p>
      wallet.egem.io does not hold your keys for you. We cannot access accounts, recover keys, reset passwords, nor reverse transactions. Protect your keys &amp; always check that you are on correct URL.
      <a role="link" tabindex="0" data-toggle="modal" data-target="#disclaimerModal">
        You are responsible for your security.
      </a>
    </p>
  </div>
</section>

<footer class="footer" role="content" aria-label="footer" ng-controller='footerCtrl' >

  <article class="block__wrap" style="max-width: 1780px; margin: auto;">

    <section class="footer--left">

      <a href="/"><img src="images/logo-myetherwallet.png" height="45px" width="auto" alt="Ether Wallet" class="footer--logo"/></a>

      <p>
        <span translate="FOOTER_1">
          Free, open-source, client-side interface for generating Egem wallets &amp; more. Interact with the Egem blockchain easily &amp; securely. Double-check the URL ( .com ) before unlocking your wallet.
        </span>
      </p>

      <p>
        <a aria-label="knowledge base" href="https://myetherwallet.github.io/knowledge-base/" target="_blank" rel="noopener noreferrer" role="link" tabindex="0">
          Knowledge Base
        </a>
      </p>

      <p>
        <a data-target="#disclaimerModal" data-toggle="modal" target="_blank" rel="noopener noreferrer" role="link" tabindex="0"  translate="FOOTER_4">
          Disclaimer
        </a>
      </p>

      <p ng-show="showBlocks">
        Latest Block#: {{currentBlockNumber}}
      </p>

      <p>
        &copy; 2018 Egem
      </p>

    </section>

    <section class="footer--cent">

        <!--
        -->
        <h5 ng-hide="curLang=='en'">
          <i>🏅</i>
          <span translate="Translator_Desc"> Thank you to our translators </span>
        </h5>
        <p ng-hide="curLang=='en'">
          <span translate="TranslatorName_1"></span>
          <span translate="TranslatorName_2"></span>
          <span translate="TranslatorName_3"></span>
          <span translate="TranslatorName_4"></span>
          <span translate="TranslatorName_5"></span>
        </p>
        <p><a aria-label="website via my ether wallet dot com" href="https://wallet.egem.io" target="_blank" rel="noopener" role="link" tabindex="0">
                wallet.egem.io
              </a></p>

              <p><a href="https://stats.egem.io" target="_blank" rel="noopener" role="link" tabindex="0">
                stats.egem.io
              </a></p>
              <p><a href="https://wallet.egem.io/helpers.html" target="_blank" rel="noopener" role="link" tabindex="0">
                Unit Converters &amp; ENS Debugging
              </a></p>

              <p><a href="https://wallet.egem.io/signmsg.html" target="_blank" rel="noopener" role="link" tabindex="0">
                Sign Message
              </a></p>
              <p><a href="https://minerpool.net/pools/egemcoin/" target="_blank" rel="noopener" role="link" tabindex="0">
                              Pools
               </a></p>
               <p><a href="https://forum.egem.io/" target="_blank" rel="noopener" role="link" tabindex="0">
                                             Forum
                </a></p>

    </section>

    <section class="footer--righ">




      <p><a aria-label="website via github URL" href="https://https://github.io/egem/" target="_blank" rel="noopener" role="link" tabindex="0">
        https://github.io/egem
      </a></p>

      <p>
        <a aria-label="my ether wallet github" href="https://github.com/kvhnuke/etherwallet" target="_blank" rel="noopener noreferrer" role="link" tabindex="0">
          Github: Current Site &amp; CX
        </a>
      </p>

      <p>
        <a aria-label="download & run locally" href="https://github.com/kvhnuke/etherwallet/releases/latest" target="_blank" rel="noopener noreferrer" role="link" tabindex="0">
          Github: Latest Release
        </a>
      </p>

      <p>
        <a aria-label="my ether wallet chrome extension" href="https://chrome.google.com/webstore/detail/myetherwallet-cx/nlbmnnijcnlegkjjpcfjclmcfggfefdm?hl=en" target="_blank" rel="noopener noreferrer" role="link" tabindex="0">
          MyEtherWallet Chrome Extension
        </a>
      </p>

      <p>
        <a aria-label="Anti-Phishing chrome extension" href="https://chrome.google.com/webstore/detail/etheraddresslookup/pdknmigbbbhmllnmgdfalmedcmcefdfn" target="_blank" rel="noopener noreferrer" role="link" tabindex="0">
          EAL "Don't Get Phish'd" Chrome Extension
        </a>
      </p>

      <p>
        <a aria-label="twitter" title="twitter" href="https://twitter.com/EgemOfficial" target="_blank" rel="noopener" role="link" tabindex="0">
          <svg width="24" height="24" class="footer__icon" aria-labelledby="twitter icon" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M23.954 4.569c-.885.389-1.83.654-2.825.775 1.014-.611 1.794-1.574 2.163-2.723-.951.555-2.005.959-3.127 1.184-.896-.959-2.173-1.559-3.591-1.559-2.717 0-4.92 2.203-4.92 4.917 0 .39.045.765.127 1.124C7.691 8.094 4.066 6.13 1.64 3.161c-.427.722-.666 1.561-.666 2.475 0 1.71.87 3.213 2.188 4.096-.807-.026-1.566-.248-2.228-.616v.061c0 2.385 1.693 4.374 3.946 4.827-.413.111-.849.171-1.296.171-.314 0-.615-.03-.916-.086.631 1.953 2.445 3.377 4.604 3.417-1.68 1.319-3.809 2.105-6.102 2.105-.39 0-.779-.023-1.17-.067 2.189 1.394 4.768 2.209 7.557 2.209 9.054 0 13.999-7.496 13.999-13.986 0-.209 0-.42-.015-.63.961-.689 1.8-1.56 2.46-2.548l-.047-.02z" fill="#ffffff" /></svg>
        </a>
        <a aria-label="github" title="github" href="https://github.com/egem" target="_blank" rel="noopener" role="link" tabindex="0">
          <svg width="24" height="24" class="footer__icon" aria-labelledby="github icon" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12" fill="#ffffff" /></svg>
        </a>
        <a aria-label="support email" title="support email" href="mailto:support@myetherwallet.com" target="_blank" rel="noopener noreferrer" role="link" tabindex="0">
          <svg width="24" height="24" class="footer__icon" aria-labelledby="github icon" role="img" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path fill="#ffffff" d="M1664 1504v-768q-32 36-69 66-268 206-426 338-51 43-83 67t-86.5 48.5-102.5 24.5h-2q-48 0-102.5-24.5t-86.5-48.5-83-67q-158-132-426-338-37-30-69-66v768q0 13 9.5 22.5t22.5 9.5h1472q13 0 22.5-9.5t9.5-22.5zm0-1051v-24.5l-.5-13-3-12.5-5.5-9-9-7.5-14-2.5h-1472q-13 0-22.5 9.5t-9.5 22.5q0 168 147 284 193 152 401 317 6 5 35 29.5t46 37.5 44.5 31.5 50.5 27.5 43 9h2q20 0 43-9t50.5-27.5 44.5-31.5 46-37.5 35-29.5q208-165 401-317 54-43 100.5-115.5t46.5-131.5zm128-37v1088q0 66-47 113t-113 47h-1472q-66 0-113-47t-47-113v-1088q0-66 47-113t113-47h1472q66 0 113 47t47 113z"/></svg>
        </a>
      </p>

    </section>

  </article>

</div>


</footer>

 <article class="modal fade" id="disclaimerModal" tabindex="-1">
  <section class="modal-dialog">
    <section class="modal-content">

      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close Dialog">&times;</button>

        <h2 class="modal-title text-info" translate="FOOTER_4">Disclaimer</h2>

        <p class="small"><strong>Be safe &amp; secure:</strong> <a href="https://myetherwallet.github.io/knowledge-base/security/securing-your-ethereum.html" target="_blank" rel="noopener noreferrer"> We highly recommend that you read our guide on How to Prevent Loss &amp; Theft for some recommendations on how to be proactive about your security.</a></p>

        <p class="small"><strong>Always backup your keys: </strong> MyEtherWallet.com &amp; MyEtherWallet CX are not "web wallets". You do not create an account or give us your funds to hold onto. No data leaves your computer / your browser. We make it easy for you to create, save, and access your information and interact with the blockchain.</p>

        <p class="small"><strong>We are not responsible for any loss: </strong> Ethereum, MyEtherWallet.com & MyEtherWallet CX, and some of the underlying Javascript libraries we use are under active development. While we have thoroughly tested &amp; tens of thousands of wallets have been successfully created by people all over the globe, there is always the possibility something unexpected happens that causes your funds to be lost. Please do not invest more than you are willing to lose, and please be careful.</p>

        <p class="small"><strong> Translations of MyEtherWallet: </strong> The community has done an amazing job translating MyEtherWallet into a variety of languages. However, MyEtherWallet can only verify the validity and accuracy of the information provided in English and, because of this, the English version of our website is the official text. </p>

        <p class="small"><strong>MIT License</strong> Copyright &copy; 2015-2017 MyEtherWallet INC</p>

        <p class="small">Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</p>

        <p class="small">The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p>

        <p class="small"><strong>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</strong></p>
      </div>

      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Okay</button>
      </div>

    </section>
  </section>
</article>
 


 <article class="modal fade" id="onboardingModal" tabindex="-1" ng-controller='onboardingCtrl'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="on-boarding-close">
          <img class="editor-icons" src="images/icon-x.svg" title="Close" ng-click="onboardModal.close()"/>
        </div>
        <article class="onboarding__msg" ng-show="onboardMsg" translate="ONBOARD_resume">
          It looks like you didn't finish reading through these slides last time. ProTip: Finish reading through the slides 😉
        </article>

        <article class="onboarding__modal" ng-show="showOnboardSlide==1">
          <h3 class="onboarding__title">
            <span translate="ONBOARD_welcome_title">
              Welcome to MyEtherWallet.com
            </span>
            <br />
            <small translate="ONBOARD_welcome_content__3">
              We know this click-through shit is annoying. We are sorry.
            </small>
          </h3>
          <section class="row row--flex">
            <div class="col-xs-12 col-sm-7 onboarding__content">
              <p class="alert-danger--outline">
                <span translate="ONBOARD_welcome_content__1">
                  Please take some time to understand this for your own safety. 🙏
                </span>
                <span translate="ONBOARD_welcome_content__2">
                  Your funds will be stolen if you do not head these warnings.
                </span>
              </p>
              <p class="alert-danger--outline" translate="ONBOARD_welcome_content__8">
                We cannot recover your funds or freeze your account if you visit a phishing site or lose your private key.
              </p>
              <h5 translate="ONBOARD_welcome_content__4">
                What is MEW?
              </h5>
              <ul>
                <li translate="ONBOARD_welcome_content__5">
                  MyEtherWallet is a free, open-source, client-side interface.
                </li>
                <li translate="ONBOARD_welcome_content__6">
                  We allow you to interact directly with the blockchain while remaining in full control of your keys &amp; your funds.
                </li>
                <li translate="ONBOARD_welcome_content__7">
                  **You** and **only you** are responsible for your security.
                </li>

              </ul>
            </div>
            <div class="col-xs-12 col-sm-5 onboarding__image">
              <img src="./images/onboarding_icon-01.svg" width="100%" height="auto" />
            </div>
          </section>
          <div class="onboarding__buttons text-center">
            <a ng-click="setOnboardStatus(2)" class="btn btn-primary">
              <span translate="ONBOARD_bank_title">
                MyEtherWallet is not a Bank
              </span>
            </a>
          </div>
        </article>


        <article class="onboarding__modal" ng-show="showOnboardSlide==2">
          <h3 class="onboarding__title" translate="ONBOARD_bank_title">
            MyEtherWallet is not a Bank
          </h3>
          <section class="row row--flex">
            <div class="col-xs-12 col-sm-4 onboarding__image">
              <img src="./images/onboarding_icon-02.svg" width="100%" height="auto" />
            </div>
            <div class="col-xs-12 col-sm-8 onboarding__content">
              <ul>
                <li translate="ONBOARD_bank_content__1">
                  When you open an account with a bank or exchange, they create an account for you in their system.
                </li>
                <li translate="ONBOARD_bank_content__2">
                  They keep track of your personal information, account passwords, balances, transactions and ultimately your money.
                </li>
                <li translate="ONBOARD_bank_content__3">
                  They charge fees to manage your account and provide services, like refunding transactions when your card gets stolen.
                </li>
                <li translate="ONBOARD_bank_content__4">
                  You can write a check or charge your debit card to send money, go online to check your balance, reset your password, and get a new debit card if you lose it.
                </li>
                <li translate="ONBOARD_bank_content__5">
                  You have an account *with the bank* and they decide how much money you can send, where you can send it, and how long to hold on a suspicious deposit. All for a fee.
                </li>
              </ul>
            </div>
          </section>
          <div class="onboarding__buttons">
            <a ng-click="setOnboardStatus(1)" class="btn btn-default">
              <span translate="ONBOARD_welcome_title__alt">
                Introduction
              </span>
            </a>
            <a ng-click="setOnboardStatus(3)" class="btn btn-primary">
              <span translate="ONBOARD_interface_title">
                MyEtherWallet is an Interface
              </span>
            </a>
          </div>
        </article>


        <article class="onboarding__modal" ng-show="showOnboardSlide==3">
          <h3 class="onboarding__title" translate="ONBOARD_interface_title">
            MyEtherWallet is an Interface
          </h3>
          <section class="row row--flex">
            <div class="col-xs-12 col-sm-4 onboarding__image">
              <img src="./images/onboarding_icon-03.svg" width="100%" height="auto" />
            </div>
            <div class="col-xs-12 col-sm-8 onboarding__content">
              <ul>
                <li translate="ONBOARD_interface_content__1">
                  When you create an account here, you are generating an cryptographic set of numbers: your private key and your public key (address).
                </li>
                <li translate="ONBOARD_interface_content__2">
                  The handling of your keys happens entirely on your computer, inside your browser.
                </li>
                <li translate="ONBOARD_interface_content__3">
                  We never transmit, receive or store your private key, password, or other account information.
                </li>
                <li translate="ONBOARD_interface_content__4">
                  We do not charge a transaction fee.
                </li>
                <li translate="ONBOARD_interface_content__5">
                  You are just using our **interface** to interact **directly with the blockchain**.
                </li>
                <li translate="ONBOARD_interface_content__6">
                  If you send your *public key (address)* to someone, they can send you ETH or tokens. 👍
                </li>
                <li translate="ONBOARD_interface_content__7">
                  If you send your *private key* to someone, they now have full control of your account. 👎
                </li>
              </ul>
            </div>
          </section>
          <div class="onboarding__buttons">
            <a ng-click="setOnboardStatus(2)" class="btn btn-default">
              <span translate="ONBOARD_bank_title__alt">
                MEW isn't a Bank
              </span>
            </a>
            <a ng-click="setOnboardStatus(4)" class="btn btn-primary">
              <span translate="ONBOARD_blockchain_title__alt">
                WTF is a Blockchain?
              </span>
            </a>
          </div>
          <p ng-click="setOnboardStatus(5)" class="text-right small" style="cursor:pointer">
            <span translate="ONBOARD_blockchain_skip">
              I already know what a blockchain is...
            </span>
          </p>
        </article>


        <article class="onboarding__modal" ng-show="showOnboardSlide==4">
          <h3 class="onboarding__title" translate="ONBOARD_blockchain_title">
            Wait, WTF is a Blockchain?
          </h3>
          <section class="row row--flex">
            <div class="col-xs-12 col-sm-8 onboarding__content">
              <ul>
                <li translate="ONBOARD_blockchain_content__1">
                  The blockchain is like a huge, global, decentralized spreadsheet.
                </li>
                <li translate="ONBOARD_blockchain_content__2">
                  It keeps track of who sent how many coins to whom, and what the balance of every account is.
                </li>
                <li translate="ONBOARD_blockchain_content__3">
                  It is stored and maintained by thousands of people (miners) across the globe who have special computers.
                </li>
                <li translate="ONBOARD_blockchain_content__4">
                  It is made up of all the individual transactions sent from MyEtherWallet, MetaMask, Exodus, Mist, Geth, Parity, and everywhere else.
                </li>
                <li translate="ONBOARD_blockchain_content__5">
                  When you see your balance on MyEtherWallet.com or view your transactions on [etherscan.io](https://etherscan.io), you are seeing data on the blockchain, not in our personal systems.
                </li>
                <li translate="ONBOARD_blockchain_content__6">
                   Again: <strong>we are not a bank</strong>.
                </li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-4 onboarding__image">
              <img src="./images/onboarding_icon-04.svg" width="100%" height="auto" />
            </div>
          </section>
          <div class="onboarding__buttons">
            <a ng-click="setOnboardStatus(3)" class="btn btn-default">
              <span translate="ONBOARD_interface_title__alt">
                MEW is an Interface
              </span>
            </a>
            <a ng-click="setOnboardStatus(5)" class="btn btn-primary">
              <span translate="ONBOARD_why_title__alt">
                But...why does this matter?
              </span>
            </a>
          </div>
        </article>


        <article class="onboarding__modal" ng-show="showOnboardSlide==5">
          <h3 class="onboarding__title" translate="ONBOARD_why_title">
            Why are you making me read all this?
          </h3>
          <section class="row row--flex">
            <div class="col-xs-12 col-sm-4 onboarding__image">
              <img src="./images/onboarding_icon-05.svg" width="100%" height="auto" />
            </div>
            <div class="col-xs-12 col-sm-8 onboarding__content">
              <h5 translate="ONBOARD_why_content__1">
                Because we need you to understand that we **cannot**...
              </h5>
              <ul>
                <li class="text-danger" translate="ONBOARD_why_content__2">
                  Access your account or send your funds for you.
                </li>
                <li class="text-danger" translate="ONBOARD_why_content__3">
                  Recover or change your private key.
                </li>
                <li class="text-danger" translate="ONBOARD_why_content__4">
                  Recover or reset your password.
                </li>
                <li class="text-danger" translate="ONBOARD_why_content__5">
                  Reverse, cancel, or refund transactions.
                </li>
                <li class="text-danger" translate="ONBOARD_why_content__6">
                  Freeze accounts.
                </li>
              </ul>
              <h5 translate="ONBOARD_why_content__7">
                **You** and **only you** are responsible for your security.
              </h5>
              <ul>
                <li translate="ONBOARD_why_content__8">
                   Be diligent to keep your private key and password safe. Your private key is sometimes called your mnemonic phrase, keystore file, UTC file, JSON file,  wallet file.
                </li>
                <li translate="ONBOARD_why_content__9">
                  If lose your private key or password, no one can recover it.
                </li>
                <li translate="ONBOARD_why_content__10">
                  If you enter your private key on a phishing website, you will have **all your funds taken**.
                </li>
              </ul>
            </div>
          </section>
          <div class="onboarding__buttons">
            <a ng-click="setOnboardStatus(4)" class="btn btn-default">
              <span translate="ONBOARD_blockchain_title__alt">
                WTF is a Blockchain?
              </span>
            </a>
            <a ng-click="setOnboardStatus(6)" class="btn btn-primary">
              <span translate="ONBOARD_point_title__alt">
                What's the Point of MEW then?
              </span>
            </a>
          </div>
        </article>


        <article class="onboarding__modal" ng-show="showOnboardSlide==6">
          <h3 class="onboarding__title" translate="ONBOARD_whymew_title">
            If MyEtherWallet can't do those things, what's the point?
          </h3>
          <section class="row row--flex">
            <div class="col-xs-12 col-sm-4 onboarding__image">
              <img src="./images/onboarding_icon-06.svg" width="100%" height="auto" />
            </div>
            <div class="col-xs-12 col-sm-8 onboarding__content">
              <ul>
                <li translate="ONBOARD_whymew_content__1">
                  Because that is the point of decentralization and the blockchain.
                </li>
                <li translate="ONBOARD_whymew_content__2">
                  You don't have to rely on your bank, government, or anyone else when you want to move your funds.
                </li>
                <li translate="ONBOARD_whymew_content__3">
                  You don't have to rely on the security of an exchange or bank to keep your funds safe.
                </li>
                <li translate="ONBOARD_whymew_content__4">
                  If you don't find these things valuable, ask yourself why you think the blockchain and cryptocurrencies are valuable. 😉
                </li>
                <li translate="ONBOARD_whymew_content__5">
                  If you don't like the sound of this, consider using [Coinbase](https://www.coinbase.com/) or [Blockchain.info](https://blockchain.info/wallet/#/signup). They have more familiar accounts with usernames &amp; passwords.
                </li>
                <li translate="ONBOARD_whymew_content__6">
                  If you are scared but want to use MEW, [get a hardware wallet](https://myetherwallet.github.io/knowledge-base/hardware-wallets/hardware-wallet-recommendations.html)! These keep your keys secure.
                </li>
              </ul>
            </div>
          </section>
          <div class="onboarding__buttons">
            <a ng-click="setOnboardStatus(5)" class="btn btn-default">
              <span translate="ONBOARD_why_title__alt">
                But...why?
              </span>
            </a>
            <a ng-click="setOnboardStatus(7)" class="btn btn-primary">
              <span translate="ONBOARD_secure_title">
                How To Protect Yourself &amp; Your Funds
              </span>
            </a>
          </div>
        </article>


        <article class="onboarding__modal" ng-show="showOnboardSlide==7">
          <h3 class="onboarding__title" translate="ONBOARD_secure_1_title">
            How To Protect Yourself from Phishers
          </h3>
          <p translate="ONBOARD_secure_1_content__1">
            Phishers send you a message with a link to a website that looks just like MyEtherWallet, EtherDelta, Paypal, or your bank, but is not the real website. They steal your information and then steal your money.
          </p>
          <section class="row row--flex">
            <div class="col-xs-12 col-sm-8 onboarding__content">
              <ul>
                <li translate="ONBOARD_secure_1_content__2">
                  Install [EAL](https://chrome.google.com/webstore/detail/etheraddresslookup/pdknmigbbbhmllnmgdfalmedcmcefdfn) or [MetaMask](https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn) or [Cryptonite by Metacert](https://chrome.google.com/webstore/detail/cryptonite-by-metacert/keghdcpemohlojlglbiegihkljkgnige) or the [MyEtherWallet Chrome Extension](https://chrome.google.com/webstore/detail/myetherwallet-cx/nlbmnnijcnlegkjjpcfjclmcfggfefdm) to block malicious websites.
                </li>
                <li translate="ONBOARD_secure_1_content__3">
                  Always check the URL: `https://www.myetherwallet.com`.
                </li>
                <li translate="ONBOARD_secure_1_content__4">
                  Always make sure the URL bar has `MYETHERWALLET Inc` in green.
                </li>
                <li translate="ONBOARD_secure_1_content__5">
                  Do not trust messages or links sent to you randomly via email, Slack, Reddit, Twitter, etc.
                </li>
                <li translate="ONBOARD_secure_1_content__6">
                 Always navigate directly to a site before you enter information. Do not enter information after clicking a link from a message or email.
                </li>
                <li translate="ONBOARD_secure_1_content__7">
                  [Install an AdBlocker](https://chrome.google.com/webstore/detail/ublock-origin/cjpalhdlnbpafiamejdnhcphjbkeiagm?hl=en) and do not click ads on your search engine (e.g. Google).
                </li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-4 onboarding__image">
              <img src="./images/onboarding_icon-07.svg" width="100%" height="auto" />
            </div>
          </section>
          <div class="onboarding__buttons">
            <a ng-click="setOnboardStatus(6)" class="btn btn-default">
              <span translate="ONBOARD_point_title__alt_2">
                What's the point?
              </span>
            </a>
            <a ng-click="setOnboardStatus(8)" class="btn btn-primary">
              <span translate="ONBOARD_secure_2_title">
                How To Protect Yourself from Scams
              </span>
            </a>
          </div>
        </article>


        <article class="onboarding__modal" ng-show="showOnboardSlide==8">
          <h3 class="onboarding__title" translate="ONBOARD_secure_2_title">
            How To Protect Yourself from Scams
          </h3>
          <p class="text-center" translate="ONBOARD_secure_2_content__1">
            People will try to get you to give them money in return for nothing.
          </p>
          <br />
          <section class="row row--flex">
            <div class="col-xs-12 col-sm-8 onboarding__content">
              <ul>
                <li translate="ONBOARD_secure_2_content__2">
                  If it is too good to be true, it probably is.
                </li>
                <li translate="ONBOARD_secure_2_content__3">
                  Research before sending money to someone or some project. Look for information on a variety of websites and forums. Be wary.
                </li>
                <li translate="ONBOARD_secure_2_content__4">
                  Ask questions when you don't understand something or it doesn't seem right.
                </li>
                <li translate="ONBOARD_secure_2_content__5">
                  Don't let fear, FUD, or FOMO win over common sense. If something is very urgent, ask yourself 'why?'. It may be to create FOMO or prevent you from doing research.
                </li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-4 onboarding__image">
              <img src="./images/onboarding_icon-08.svg" width="100%" height="auto" />
            </div>
          </section>
          <div class="onboarding__buttons">
            <a ng-click="setOnboardStatus(7)" class="btn btn-default">
              <span translate="ONBOARD_secure_3_title__alt">
                Phuck Phishers
              </span>
            </a>
            <a ng-click="setOnboardStatus(9)" class="btn btn-primary">
              <span translate="ONBOARD_secure_3_title">
                How To Protect Yourself from Loss
              </span>
            </a>
          </div>
        </article>


        <article class="onboarding__modal" ng-show="showOnboardSlide==9">
          <h3 class="onboarding__title" translate="ONBOARD_secure_3_title">
            How To Protect Yourself from Loss
          </h3>
          <p class="text-center" translate="ONBOARD_secure_3_content__1">
            If you lose your private key or password, it is gone forever. Don't lose it.
          </p>
          <section class="row row--flex">
            <div class="col-xs-12 col-sm-7">
              <ul>
                <li translate="ONBOARD_secure_3_content__2">
                  Make a backup of your private key and password. Do NOT just store it on your computer. Print it out on a piece of paper or save it to a USB drive.
                </li>
                <li translate="ONBOARD_secure_3_content__3">
                  Store this paper or USB drive in a different physical location. A backup is not useful if it is destroyed by a fire or flood along with your laptop.
                </li>
                <li translate="ONBOARD_secure_3_content__4">
                  Do not store your private key in Dropbox, Google Drive, or other cloud storage. If that account is compromised, your funds will be stolen.
                </li>
                <li translate="ONBOARD_secure_3_content__5">
                  If you have more than 1-week's worth of pay worth of cryptocurrency, get a hardware wallet. No excuses. It's worth it. I promise.
                </li>
                
              </ul>
            </div>
            <div class="col-xs-12 col-sm-4 onboarding__image">
              <img src="./images/onboarding_icon-09.svg" width="100%" height="auto" />
            </div>
          </section>
          <h5 class="text-center" translate="ONBOARD_secure_3_content__6">
            [Even more Security Tips!](https://myetherwallet.github.io/knowledge-base/getting-started/protecting-yourself-and-your-funds.html)
          </h5>
          <div class="onboarding__buttons">
            <a ng-click="setOnboardStatus(8)" class="btn btn-default">
              <span translate="ONBOARD_secure_2_title__alt_2">
                Screw Scams
              </span>
            </a>
            <a ng-click="setOnboardStatus(10)" class="btn btn-primary">
              <span translate="ONBOARD_final_title__alt">
                One more click &amp; you're done! 🤘
              </span>
            </a>
          </div>
        </article>


        <article class="onboarding__modal" ng-show="showOnboardSlide==10">
          <h3 class="onboarding__title" translate="ONBOARD_final_title">
            Alright, I'm done lecturing you!
          </h3>
          <p class="text-center" translate="ONBOARD_final_subtitle">
            Sorry for being like this. Onwards!
          </p>
          <br />
          <section class="row row--flex">
            <div class="col-xs-12 col-sm-4 col-xs-12 col-sm-offset-1">
              <img src="./images/onboarding_icon-10.svg" width="100%" height="auto" />
            </div>
            <div class="col-xs-12 col-sm-7">
              <ul>
                <li>
                  <a href="https://myetherwallet.github.io/knowledge-base/hardware-wallets/hardware-wallet-recommendations.html"
                     target="_blank" rel="noopener noreferrer" class="strong" translate="ONBOARD_final_content__2">
                      Get a hardware wallet
                  </a>
                </li>
                <li>
                  <a href="https://myetherwallet.github.io/knowledge-base/migration/moving-from-private-key-to-metamask.html"
                     target="_blank" rel="noopener noreferrer" class="strong" translate="ONBOARD_final_content__3">
                    How to Set up MEW + MetaMask
                  </a>
                </li>
                <li>
                  <a href="https://myetherwallet.github.io/knowledge-base/offline/running-myetherwallet-locally.html"
                     target="_blank" rel="noopener noreferrer" class="strong" translate="ONBOARD_final_content__4">
                    How to Run MEW Offline / Locally
                  </a>
                </li>
                <li>
                  <a href="https://myetherwallet.github.io/knowledge-base/migration/moving-from-private-key-to-ledger-hardware-wallet.html"
                     target="_blank" rel="noopener noreferrer" class="strong" translate="ONBOARD_final_content__5">
                    How to Send via Ledger hardware wallet
                  </a>
                </li>
                <li>
                  <a href="https://myetherwallet.github.io/knowledge-base/hardware-wallets/trezor-sending-to-trezor-device.html"
                     target="_blank" rel="noopener noreferrer" class="strong" translate="ONBOARD_final_content__6">
                    How to Send via TREZOR hardware wallet
                  </a>
                </li>
                <li>
                  <a href="https://myetherwallet.github.io/knowledge-base/migration/moving-from-private-key-to-metamask.html"
                     target="_blank" rel="noopener noreferrer" class="strong" translate="ONBOARD_final_content__7">
                       How to Send via MetaMask
                  </a>
                </li>
                <li>
                  <a href="https://myetherwallet.github.io/knowledge-base/"
                     target="_blank" rel="noopener noreferrer" class="strong" translate="ONBOARD_final_content__8">
                       Learn More or Contact Us
                  </a>
                </li>
                <li>
                  <a ng-click="onboardModal.close();globalService.currentTab=globalService.tabs.sendTransaction.id"
                     class="strong">
                     <span translate="ONBOARD_final_content__9">
                       OMG, please just let me send FFS.
                     </span>
                  </a>
                </li>
              </ul>

              <div class="onboarding__buttons">
                <a ng-click="onboardModal.close()" class="btn btn-primary col-sm-5 col-sm-offset-7">
                  <span>
                    Done &nbsp;
                  </span>
                </a>
              </div>
            </div>
          </section>
        </article>

      </div>
    </div>
  </div>
</article>
 



</main>
</body>
</html>

<!--/email_off-->
