<!DOCTYPE html>
<html lang="en" ng-app="mewApp">
<head>
  <meta charset="utf-8">
  <title>MyEgemWallet Chrome Extension</title>
  <meta name="description" content="MyEgemWallet is a free, open-source, client-side interface for generating Egem wallets &amp; more. Interact with the Egem blockchain easily &amp; securely.">
  <link rel="stylesheet" href="../css/etherwallet-master.min.css">
  <script type="text/javascript" src="../js/etherwallet-static.min.js"></script>
  <script type="text/javascript" src="../js/etherwallet-master.js"></script>
</head>

<body ng-controller='tabsCtrl'>
<div class="container" id="etherWalletPopUp" ng-controller='mainPopCtrl'>

  <table width="100%" class="table table-striped bAction" id="popupMainAccountTbl">
    <thead>
      <tr>
        <th></th>
        <th translate="NAV_YourWallets"> Your Wallets </th>
        <th translate="MYWAL_Bal"> Balance </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-show="allWallets.length==0">
        <td colspan="2" translate="CX_error_1">
          You don't have any wallets saved yet! Click the <a class="text-primary" href="/cx-wallet.html#add-wallet" target="_blank" rel="noopener noreferrer">"Add Wallet"</a> button to add one!
        </td>
        <td></td>
      </tr>
      <tr ng-repeat="twallet in allWallets track by $index">
        <td><div class="addressIdenticon small" title="Address Indenticon" blockie-address="{{twallet.addr}}" watch-var="wallet"></div></td>
        <td><label>{{twallet.nick}}</label><small class="quicksend-address">{{twallet.addr}}</small></td>
        <td>{{twallet.balanceR | number:2 }} EGEM</td>
      </tr>
    </tbody>
  </table>


  <table width="100%" class="table table-striped" id="tblWatchOnlyMain" ng-show="allWatchOnly.length!==0">
    <thead>
      <tr>
        <th></th>
        <th translate="MYWAL_WatchOnly">Your Watch-Only Accounts</th>
        <th translate="MYWAL_Bal">Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="twallet in allWatchOnly track by $index">
        <td><div class="addressIdenticon small" title="Address Indenticon" blockie-address="{{twallet.addr}}" watch-var="wallet"></div></td>
        <td><label>{{twallet.nick}}</label><small class="quicksend-address">{{twallet.addr}}</small></td>
        <td>{{twallet.balance | number:2 }} EGEM</td>
      </tr>
    </tbody>
  </table>

  <div class="text-center marg-v-sm" style="white-space: nowrap;">
    <a href="/cx-wallet.html#my-wallet" class="btn btn-xs btn-info" target="_blank" rel="noopener noreferrer" translate="NAV_MyWallets">My Wallets</a>
    <a href="/cx-wallet.html#add-wallet" class="btn btn-xs btn-primary" target="_blank" rel="noopener noreferrer" translate="NAV_AddWallet">Add Wallet</a>
    <a href="cx-quicksend.html" class="btn btn-xs btn-success" translate="CX_quicksend">QuickSend</a>
  </div>

</div>
</body>
</html>
