<!-- print -->
<div class="tab-pane" id="panePrint" style="display: none;">
  <div class="print-container">
    <span id="printwalletjson" style="display: none;"></span>
    <img src="images/logo-ethereum-1.png" class="ether-logo-1" height="100%" width="auto" />
    <img src="images/logo-ethereum-2.png" class="ether-logo-2" />
    <img src="images/print-sidebar2.png" height="100%" width="auto" class="print-title" />
    <div class="print-qr-code-1">
      <div id="paperwalletaddqr"></div>
      <!--<img src="images/qrcode_test.png" width="90%;" height="auto" class="pull-left" />-->
      <p class="print-text" style="padding-top: 25px;">YOUR ADDRESS</p>
    </div>
    <div class="print-notes">
      <img src="images/notes-bg.png" width="90%;" height="auto" class="pull-left" />
      <p class="print-text">AMOUNT / NOTES</p>
    </div>
    <div class="print-qr-code-2">
      <div id="paperwalletprivqr"></div>
      <p class="print-text" style="padding-top: 30px;">YOUR PRIVATE KEY</p>
    </div>
    <div class="print-address-container">
      <p>
        <strong>Your Address:</strong>
        <br />
        <span id="paperwalletadd"></span>
      </p>
      <p>
        <strong>Your Private Key:</strong>
        <br />
        <span id="paperwalletpriv"></span>
      </p>
    </div>
  </div>
</div>
<!-- /print -->
